.Mano_Loading {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: radial-gradient(farthest-side,#3bff81 94%,#0000),
           radial-gradient(farthest-side,#ffd82e 94%,#0000),
           radial-gradient(farthest-side,#ff6761 94%,#0000),
           radial-gradient(farthest-side,#474bff 94%,#0000),
           #3bff81;
    background-size: 105% 105%;
    background-repeat: no-repeat;
    animation: colorful-7utelwsm 2.4s infinite;
 }
 
 @keyframes colorful-7utelwsm {
    0% {
       background-position: 50% -40px,-32px 50%, 50% calc(100% + 40px),calc(100% + 40px) 50%;
    }
 
    20%, 25% {
       background-position: 50% -40px,-40px 50%, 50% calc(100% + 40px),50% 50%;
    }
 
    45%, 50% {
       background-position: 50% -40px,-40px 50%, 50% 50% ,50% 50%;
    }
 
    75%, 75% {
       background-position: 50% -40px, 50%  50%, 50% 50%,50% 50%;
    }
 
    95%, 100% {
       background-position: 50%  50% , 50%  50%, 50% 50%,50% 50%;
    }
 }